*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#f5f5f5;
    color:#333;
    line-height:1.6;
}

header{
    background:#222;
    padding:20px 10%;
    position:sticky;
    top:0;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    color:#fff;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:25px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

nav ul li a:hover{
    color:#00bcd4;
}

.hero{
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding:80px 10%;
    flex-wrap:wrap;
    background:#ffffff;
}

.hero-text{
    max-width:500px;
}

.hero-text h1{
    font-size:45px;
}

.hero-text span{
    color:#0077ff;
}

.hero-text h2{
    margin:15px 0;
}

.hero-text p{
    margin-bottom:20px;
}

.btn{
    display:inline-block;
    background:#0077ff;
    color:white;
    padding:12px 25px;
    text-decoration:none;
    border-radius:5px;
}

.btn:hover{
    background:#0056c7;
}

.hero-image img{
    width:280px;
    height:280px;
    border-radius:50%;
    object-fit:cover;
    border:5px solid #0077ff;
}

section{
    padding:70px 10%;
}

section h2{
    text-align:center;
    margin-bottom:30px;
}

.skills-box,
.project-box{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:20px;
}

.skills-box div,
.project{
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 5px 10px rgba(0,0,0,0.1);
}

.project{
    width:280px;
}

#contact{
    text-align:center;
}

.social{
    margin-top:20px;
}

.social a{
    font-size:28px;
    color:#0077ff;
    margin:0 15px;
}

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:30px;
}

@media(max-width:768px){

.hero{
    flex-direction:column;
    text-align:center;
}

.hero-text{
    margin-bottom:40px;
}

nav{
    flex-direction:column;
}

nav ul{
    margin-top:15px;
}

}